{% extends 'ticket/base.html' %}
{% block body %}
<!-- Ticket form -->
<div class="container my-3">
    <h2><span style="border-bottom: 2px solid black;">Get Ticket</span></h2>
    <br>
    <form method="POST" action="{% url 'find-ticket' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ticket No.</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="ticket">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock body %}